# DB files (store in R2, not git)
backend/data/*.db
backend/data/*.db.gz
backend/*.db
backend/*.db.gz
backend/data/

# Python cache
**/__pycache__/
*.pyc

# secrets
.env

# Node
frontend/node_modules/
node_modules/